{% include "navbar.html" %}

{% block content %}


<h2 style="text-align:center; margin:30px 0; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Welcome to your Wishlist {{ request.user }}</h2>
<br>
<table class="table" style="margin-top:2%">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for item in wishlist_items %}
    <tr>
      <td><img src="{{ item.product.product_img.url }}" width="80"></td>
      <td>{{ item.product.product_name }}</td>
      <td>₹{{ item.product.product_price }}</td>
      <td>
        <a href="{% url 'remove_from_wishlist' item.id %}" class="btn btn-sm btn-danger">Remove</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" style="text-align:center;">No items in your wishlist.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}



{% include "fotter.html" %}